<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MenuMapper">
    <!-- 解决表名与字段不匹配 -->
    <resultMap type="Menu" id="MenuResultMap">
        <id property="menuCode" column="menu_code"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentCode" column="parent_menu_code"/>
        <result property="icon" column="menu_icon"/>
        <result property="uri" column="menu_uri"/>
        <result property="visible" column="menu_visible"/>
    </resultMap>
	<select id="getRootMenu" resultMap="MenuResultMap" resultType="Menu">
        select * from tb_menu where parent_menu_code = 'ROOT'
    </select>
    
    <select id="getMenu" resultMap="MenuResultMap" resultType="Menu">
        select * from tb_menu 
    </select>
    
     <select id="getAllMenuByPage" resultMap="MenuResultMap" resultType="Menu">
        select * from tb_menu where 1=1
        <if test="menuCode != null">
		AND `menu_code` LIKE concat('%',#{menuCode},'%')
		</if>
		<if test="menuName != null">
		AND `menu_name`LIKE concat('%', #{menuName},'%')
		</if>
		<if test="parentCode != null">
		AND `parent_menu_code`LIKE concat('%', #{parentCode},'%')
		</if>
		<if test="icon != null">
		AND `menu_icon`LIKE concat('%', #{icon},'%')
		</if>
		<if test="uri != null">
		AND `menu_uri`LIKE concat('%', #{uri},'%')
		</if>
		<if test="visible != null">
		AND `menu_visible`LIKE concat('%', #{visible},'%')
		</if>
		limit #{startPos},#{pageSize} 
    </select>
    
    <select id="getMenuCount" resultType="Integer" >
        select count(*) from tb_menu 
    </select>
</mapper>
