<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.model.User"/>
          <typeAlias alias="Menu" type="com.model.Menu"/>
           <typeAlias alias="Role" type="com.model.Role"/>
           <typeAlias alias="Question" type="com.model.Question"/>
           <typeAlias alias="ExamPaper" type="com.model.ExamPaper"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/mapping/userMapper.xml" />
        <mapper resource="com/mapping/menuMapper.xml" />
        <mapper resource="com/mapping/roleMapper.xml" />
        <mapper resource="com/mapping/quesMapper.xml" />
        <mapper resource="com/mapping/examPaperMapper.xml" />
    </mappers>
</configuration> 